[mysqld]

# Basic settings
user = mysql
pid-file = /run/mysqld/mysqld.pid
bind-address = 0.0.0.0
port = 3306
default-storage-engine = InnoDB
socket = /run/mysqld/mysqld.sock

# Storage settings
basedir = /usr
tmpdir = /tmp
datadir = /var/lib/mysql

# Character set settings
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# Performance settings
innodb_buffer_pool_size = 256M
max_connections = 100

# Logging
log_error = /var/log/mysql/error.log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow_query.log
long_query_time = 2

# SQL Modes
sql_mode = "STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER"