[mysqld]

# Basic settings
user = mysql
pid-file = /run/mysqld/mysqld.pid
bind-address = 127.0.0.1
port = 3306
socket = /tmp/mysql.sock

# Storage settings
basedir = /usr
tmpdir = /tmp
datadir = /var/lib/mysql

# Character set settings
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# Performance settings
innodb_buffer_pool_size = 256M
max_connections = 100

# Logging
log_error = /dev/stderr
slow_query_log = 1
slow_query_log_file = /dev/stdout
long_query_time = 2

# Authentication
default-authentication-plugin = mysql_native_password

# SQL Modes
sql_mode = "STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"

# Enable/Disable storage engines
default-storage-engine = InnoDB